.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    color:#fff;
    text-align: left;
    text-decoration: bold;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:0px 0px 0px 0px;
    z-index:0;
}

.navbar {
  background: transparent;
  color: #ffffff;
}

.navbar .navbar-nav > .active > a {
  background: #fff;
  color: #000;
  opacity :0.9;
}
.navbar .navbar-nav > .active > a:hover {
  background: #fff;
  color: #000;
  opacity :0.9;
  text-decoration: underline;
}
.navbar .navbar-nav > .active > a:focus {
  background: transparent;
    color: #ffffff;
}
.navbar .navbar-nav > .open > a {
  background: transparent;
  color: #ffffff;
}
.navbar .navbar-nav > .open > a:hover {
  background: transparent;
  color: #ffffff;
}
.navbar .navbar-nav > .open > a:focus {
  background: transparent;
  color: #ffffff;
}
.navbar .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar .navbar-nav > li > a {
  background: #fff;
  color: #000;
  opacity :0.8;
   font-size: 20px;
}

<<<<<<< HEAD
.item img{
    width: auto;
}

=======
.navbar .navbar-nav .open .dropdown-menu .dropdown-header {
  color: #98A2CE;
 } 

#map {
  padding-bottom: 50px;
  padding-right: 50px;
}

#feedback{
  min-height: 500px;
}

.navbar-static-top {
  margin: 0px;
  min-height: 0px;
  padding-top: 0px;
  position: relative;
  border-width: 0px;
}
